* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #555;
  }
  
  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    position: fixed;
    left: -250px;
    top: 0;
    transition: 0.3s;
    overflow-y: auto;
  }
  
  .sidebar.active {
    left: 0;
  }
  
  .sidebar-header {
    padding: 20px;
    background-color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sidebar-header h2 {
    font-size: 20px;
  }
  
  .close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 20px 0;
  }
  
  .sidebar-menu li {
    padding: 15px 20px;
  }
  
  .sidebar-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar-menu li a:hover {
    background-color: #555;
  }
  
  .content {
    margin-left: 0;
    padding: 10px;
    transition: margin-left 0.3s;
    background-color: rgb(27, 25, 25);
  }
  
  .content h1 {
    font-size: 24px;
  }
  
  .open-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: none;
    width: 50px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .open-btn:hover {
    background-color: #555;
  }
    
  h1{
    font-size: 24px;
    font-weight: 1000;
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }
  
.footer {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: transparent;
    width: 100px;
    height: 30px;
  }
  
  .logout-btn {
    background-color: transparent; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .logout-btn:hover {
    background-color: #423d3d; 
  }
  p{
    color: white;
    text-align: center;
    margin-bottom: 10px;
  }
  h2{
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
  }
  h3{
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
  }
  .team-member img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .team-member {
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 10px;
  }
  .cta {
    text-align: center;
    background-color: #2c352c;
    padding: 40px 20px;
  }

.home-welcome {
    text-align: center;
    background-color: #454d45;
    color: white;
    padding: 40px 20px;
  }
  
  .home-welcome h1 {
    font-size: 3em;
    margin-bottom: 15px;
  }
  
  .cta-btn {
    background-color: white;
    color: #121412;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
  }
  
  .cta-btn:hover {
    background-color: #4b504c;
    color: white;
  }
  
  .home-services {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  .service-feature {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .home-why-choose {
    background-color:  #454d45;
    padding: 20px;
    text-align: center;
  }
  
  .home-why-choose ul {
    list-style-type: none;
    padding: 0;
  }
  
  .home-why-choose li {
    font-size: 1.1em;
    margin: 10px 0;
  }
  
  .home-testimonials {
    background-color:  #454d45;
    padding: 30px;
  }
  
  .testimonial {
    margin-bottom: ;
    font-style: italic;
  }
  
  .cta {
    text-align: center;
    padding: 40px 20px;
    background-color:  #454d45;
    color: white;
  }
  
  .service-btn {
    text-decoration: none;
    color: #273a28;
    font-weight: bold;
  }
  
  .service-btn:hover {
    color: #4b514c;
  }
  